body{
    background-image: url(/Dinosaur\ background.jpg);
}
a{
    background-color: #4ade80;
    color: rgb(0, 0, 0);
    font-weight: 700;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 40px;
    
}
h1{
    color: white;
    font-size: 60px;
    font-family: sans-serif;
}
h4, h2{
    color: white;
    font-size: 25px;
    font-family: sans-serif;
}
p,li{
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family: sans-serif;
    font: bold;
}
img{
    float: right;
    padding-right: 490px;
}
h3{
    float: right;
    padding-right: 500px;
    color: white;
    font-size: 60px;
    font-family: sans-serif;
}
